@define-mixin color $screen {
  .color\:primary$(screen) { color: var(--color-primary); }
  .color\:secondary$(screen) { color: var(--color-secondary); }
  .color\:tertiary$(screen) { color: var(--color-tertiary); }
  .color\:quaternary$(screen) { color: var(--color-quaternary); }
  .color\:red$(screen) { color: var(--color-red); }
  .color\:yellow$(screen) { color: var(--color-yellow); }
  .color\:orange$(screen) { color: var(--color-orange); }
  .color\:green$(screen) { color: var(--color-green); }
  .color\:green-dark$(screen) { color: var(--color-green-dark); }
  .color\:blue$(screen) { color: var(--color-blue); }
  .color\:bluegreen$(screen) { color: var(--color-bluegreen); }
  .color\:bluegreen-light$(screen) { color: var(--color-bluegreen-light); }
  .color\:bluegreen-dark$(screen) { color: var(--color-bluegreen-dark); }
  .color\:900$(screen) { color: var(--color-900); }
  .color\:800$(screen) { color: var(--color-800); }
  .color\:700$(screen) { color: var(--color-700); }
  .color\:600$(screen) { color: var(--color-600); }
  .color\:500$(screen) { color: var(--color-500); }
  .color\:400$(screen) { color: var(--color-400); }
  .color\:300$(screen) { color: var(--color-300); }
  .color\:200$(screen) { color: var(--color-200); }
  .color\:100$(screen) { color: var(--color-100); }
  .color\:000$(screen) { color: var(--color-000); }

  .bg-color\:primary$(screen) { background-color: var(--color-primary); }
  .bg-color\:secondary$(screen) { background-color: var(--color-secondary); }
  .bg-color\:tertiary$(screen) { background-color: var(--color-tertiary); }
  .bg-color\:quaternary$(screen) { background-color: var(--color-quaternary); }
  .bg-color\:red$(screen) { background-color: var(--color-red); }
  .bg-color\:yellow$(screen) { background-color: var(--color-yellow); }
  .bg-color\:orange$(screen) { background-color: var(--color-orange); }
  .bg-color\:green$(screen) { background-color: var(--color-green); }
  .bg-color\:green-dark$(screen) { background-color: var(--color-green-dark); }
  .bg-color\:blue$(screen) { background-color: var(--color-blue); }
  .bg-color\:bluegreen$(screen) { background-color: var(--color-bluegreen); }
  .bg-color\:bluegreen-light$(screen) { background-color: var(--color-bluegreen-light); }
  .bg-color\:bluegreen-dark$(screen) { background-color: var(--color-bluegreen-dark); }
  .bg-color\:900$(screen) { background-color: var(--color-900); }
  .bg-color\:800$(screen) { background-color: var(--color-800); }
  .bg-color\:700$(screen) { background-color: var(--color-700); }
  .bg-color\:600$(screen) { background-color: var(--color-600); }
  .bg-color\:500$(screen) { background-color: var(--color-500); }
  .bg-color\:400$(screen) { background-color: var(--color-400); }
  .bg-color\:300$(screen) { background-color: var(--color-300); }
  .bg-color\:200$(screen) { background-color: var(--color-200); }
  .bg-color\:100$(screen) { background-color: var(--color-100); }
  .bg-color\:000$(screen) { background-color: var(--color-000); }
}

@mixin color;
