html {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-default);
  font-variant-numeric: tabular-nums;
  -webkit-font-smoothing: antialiased;
}

body {
  line-height: var(--line-height-base);
  font-size: var(--font-size-base);
  background-color: var(--color-background);

  /* stylelint-disable-next-line selector-id-pattern */
  & > #__next {
    min-height: 100vh;
    min-height: 100dvh;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  line-height: 1;
}

sup {
  font-size: 0.8em;
  vertical-align: super;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

button,
select,
input,
textarea {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
