.e-tooltip[data-tooltip] {
  position: relative;

  &::before {
    content: attr(data-tooltip);
    display: inline-block;
    position: absolute;
    bottom: calc(100% + 0.5em);
    left: 0;
    line-height: 1.4;
    max-width: 320px;
    width: var(--tooltip-width, 100%);
    font-size: var(--font-size-xs);
    font-weight: bold;
    color: var(--color-000);
    background-color: rgba(0 0 0 / 75%);
    padding: 5px;
    border-radius: 3px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease 0.4s;
    z-index: 2;
    text-align: left;
    white-space: break-spaces;
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }
}
