.container {
  background: #f3f1ea;
  padding: 0 10px 10px;
}

.title {
  text-align: center;
  line-height: 1;
  font-size: 8vmin;
  padding: 20px 0;
}

.button {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 10%);
  border: none;
  margin-bottom: 10px;
}

.card {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.card::before {
  content: attr(data-index);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  aspect-ratio: 1;
  background: #ddd;
}

.card::after {
  content: "テキストが入ります。テキストが入ります。テキストが入ります。";
  display: block;
  text-align: left;
  width: 75%;
  box-sizing: border-box;
  padding-left: 10px;
}

.box {
  height: 200px;
  padding: 10px;
}

.box:nth-child(even) {
  background: #F7F7F7;
}

.flip {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin: 20px 0 0;
  padding: 0;
}

.flip li {
  flex: none;
  list-style: none;
  white-space: normal;
  margin-right: 10px;
  padding: 25px 10px;
  background-color: #FFF;
  border: 1px solid #CCC;
}
