@define-mixin font $screen {
  /** font-size */
  .font\:base$(screen) { font-size: var(--font-size-base) !important; }
  .font\:2xl$(screen) { font-size: var(--font-size-2xl) !important; }
  .font\:xl$(screen) { font-size: var(--font-size-xl) !important; }
  .font\:lg$(screen) { font-size: var(--font-size-lg) !important; }
  .font\:md$(screen) { font-size: var(--font-size-md) !important; }
  .font\:sm$(screen) { font-size: var(--font-size-sm) !important; }
  .font\:xs$(screen) { font-size: var(--font-size-xs) !important; }
  .font\:2xs$(screen) { font-size: var(--font-size-2xs) !important; }

  /** font-weight */
  .font\:300$(screen) { font-weight: 300; }
  .font\:normal$(screen) { font-weight: normal; }
  .font\:500$(screen) { font-weight: 500; }
  .font\:600$(screen) { font-weight: 600; }
  .font\:bold$(screen) { font-weight: bold; }
}

@mixin font;
